.App {
  text-align: center;
  height: 100%;
  background-color: #282c34;
  min-width: 256px;
}

.App-logo {
  height: 42px;
  pointer-events: none;
  margin-block-end: 32px;
}

.App-header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-download-button {
  margin-block-end: 8px;
}
